*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin
/app/build/
/app/src/androidTest/
/app/src/test/
/buildSrc/.gradle/
/buildSrc/build/
/gradle/wrapper/gradle-wrapper.jar
/feature_vacansies/src/androidTest/
/feature_vacansies/src/test/
/feature_jobs/src/androidTest/
/feature_jobs/src/test/